.mensaje-error {

    text-align: center;

    max-width: 600px; 

    margin: 50px auto;

    padding: 30px;

    background-color: rgba(10, 20, 30, 0.7);

    border-radius: 10px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

.mensaje-error h2 {

    color: #f31515;

    margin-bottom: 20px;
}

.mensaje-error p {

    font-size: 1.1em;

    margin-bottom: 25px;
}

.boton-volver {

    display: inline-block;

    padding: 10px 20px;

    background-color: #0596f7;

    color: #fff;

    text-decoration: none;

    border-radius: 5px;

    transition: background-color 0.3s, transform 0.2s;

}

.boton-volver:hover {

    background-color: #0178c7;

    transform: scale(1.05);
    
}