body {

  margin: 0;

  padding: 0;

  font-family: 'futura', sans-serif;

  background-image: url("imagen/fondo-de-avatar.jpg");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;

  color: #fff;
  
}


header {

    background: transparent;

    color: #fff;

    padding: 1rem 0;

    text-align: center;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    
}

nav ul {

    background-color: rgba(255, 255, 255, 0.6);

    padding: 10px;

    border-radius: 10px;
    
    list-style: none;

    padding: 0;

    margin: 0;
}

nav ul li {

    display: inline-block;

    margin: 0 15px;

}

nav ul li a {

    color: #0a010c;

    text-decoration: none;

}

section {

    

    padding: 20px;

    border-bottom: 1px solid #ccc;

}

h2 {

    color: #e4bc66;

}

img {

    max-width: 60%;

    height: auto;

    display: inline-block;

    margin: 15px auto;

    border-radius: 10px;

    box-shadow: 0 0 10px #333;

}

footer {

    text-align: center;

    background: transparent;

    color: #faf8f8;

    padding: 10px 0;

}

footer a:visited, section a:visited {
    
    color: #f5edf7;
}

footer a:hover, section a:hover {

    color: #f31515;
    
}

body::before {

  content: "";

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, 0.35);

  z-index: -1;
  
}











