#sobre {

    text-align: center;

    max-width: 900px; 

    margin: 0 auto;  

    line-height: 1.6;

    }

#sobre h2 {

    color: #e4bc66;

    margin-bottom: 15px;

}

#sobre p {

    color: #fff;

    font-size: 16px;

}